.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(114, 21, 21);
    color: white;
    align-items: center;
    z-index: 100;
    width: 100%;
    
    
}

.header > h1 {
    display:inline;
    padding: 5px;
    margin: 15px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    
}


.nav_link{
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 5px;
    
}

