.user__posts {
    text-align: center;
   
}

.posts__map {
    border-bottom: 1px solid black;
    box-shadow: 5px 5px 5px 3px gray;
    margin-top: 5px;
    padding: 10px;
}

.user__btns {
    display: flex;
    justify-content: space-around;
}

.user__btns > button {
    width: 200px;
    text-transform: inherit !important;
    background-color: rgb(114, 21, 21);
    color: white; 
    font-size: 12px;

}

.user__btns > button:hover {
    background-color: white; 
    color: rgb(114, 21, 21);;
}