.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome__btns {
    padding: 5px;
    
}

.welcome__btns > button {
    border-color: rgb(114, 21, 21);
    color: rgb(114, 21, 21);
    text-transform: initial;
}

.welcome__btns > button:hover {
    background-color: rgb(114, 21, 21);
    border-color: white;
    color: white;
}